*{
  margin: 0;
  padding: 0;

}
/*----------------------------------------Header_section-----------------------------------------*/
#Header_section{
  background-image: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%), url(img/header.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#Header_section div{
  position: absolute;
  margin-left: 160px;
  margin-top: 200px;
}
#Header_section div h1{
  color: #fff;
  font-family: inter, sans-serif;
  font-size: 53px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0.6px;
}
#Header_section div p{
  color: #fff;
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  letter-spacing: 0.6px;
}
#Header_section div a{
  display: inline-block;
  margin-top: 15px;
  padding: 12px 14px;
  background-color: #EF233C;
  text-decoration: none;
  font-family: inter, sans-serif;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 0.6px;
}
/*----------------------------------------second_section-----------------------------------------*/
#second_section{
  background-color: #ffffff;
  padding: 50px 90px 35px;
}
.info-1{
  display: flex;
  margin: 80px 0;
  justify-content: space-evenly;
}
.info-1 .text{
  /* border: 2px solid red; */
  box-sizing: border-box;
  width: 480px;
  height: 460px;
}
.info-1 .text h1{
  margin-top: 60px;
  font-size: 43px;
  font-family: inter, sans-serif;
}
.info-1 .text .p-1{
  margin-top: 14px;
  font-size: 15px;
  font-family: poppins, sans-serif;
}
.info-1 .text .p-2{
  margin-top: 14px;
  font-size: 15px;
  font-family: poppins, sans-serif;
}
.info-1 .text a{
  margin-top: 14px;
  font-size: px;
  color: #fff;
  padding: 12px 14px;
  display: inline-block;
  border-radius: 4px;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #EF233C;
  font-family: inter, sans-serif;
}
.info-1 .img{
  /* border: 2px solid red; */
  width: 456px;
  height: 460px;
  align-items: left;
}
.info-1 .img img{
  width: 456px;
  height: 460px;
}
/*----------------------------------------Third_section-----------------------------------------*/
#Third_section{
  margin-top: 10px;
  /* border: 2px solid #EF233C; */
}
#Third_section div h1{
  width: 490px;
  font-family: inter, sans-serif;
  font-size: 43px;
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid #EF233C; */
}
#Third_section div p{
  width: 660px;
  font-family: poppins, sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 12px auto 0;
  /* border: 2px solid #EF233C; */
}
/*----------------------------------------4th_section-----------------------------------------*/
#fourth_section .main{
  margin: 30px 198px;
  display: grid;
  border: 2px solid #EF233C;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}
#fourth_section .main .child{
  width: 460px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #EF233C;
}
#fourth_section .main .child div{
  border: 2px solid #EF233C;
}